/* Styling for Navbar */
body {
    background-color: #fcfcfc;
    display: block;
    overflow-x: hidden;
    min-width: 300px;
    height: 100%;
    font-family: Oswald, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

::selection {
    background: #f631a7;
}

h1 {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    color: darkslategray;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
}
.rainbow {
    background-image: linear-gradient(to left, #5d2b8c, #3979cb);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.bg-db {
    background-color: #fcfcfc;
}

nav ul li a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #683aa4;
}
section ul li a {
    text-decoration: none;
}
section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #2f2980;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 450;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
}

.hero {
    margin-top: 5em;
}

.hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}


#social-icon-li,
#social-icon-in,
#social-icon-tw {
    width: 3.5%;
}

.link-square {
    list-style: square;
}

.link-square li {
    color: red;
}

/* unvisited link */
.link-square a:link, .gen-link:link {
    color: #2a2a0f;
}

/* visited link */
.link-square a:visited, .gen-link:visited {
    color: #a6a841;
}

/* mouse over link */
.link-square a:hover, .gen-link:hover {
    color: hotpink;
}

/* focus over link */
.link-square a:focus, .gen-link:focus {
    background: #BAE498;
}

/* selected link */
.link-square a:active, .gen-link:active {
    color: #d3aafe;
}

.hero img {
    max-width: 100%;
    width: 100%;
}

.prof-pic {
    border-radius: 25%;
    /*width: 50%;*/
    /*height: auto;*/
}

.fig-cap {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .big {
        font-size: 1em !important;
    }
}

.big {
    font-size: 1.3em;
}

.bigger {
    align-self: start;
}

.bigger li,
.heading {
    font-size: 1.3em;
}

.heading {
    font-family: cursive;
    font-weight: bold;
}
.heading a {
    font-family: cursive;
    color: #04182a;
    text-decoration: none;
}

.contact-pic {
    background-image: url('../Images/lab2.jpg');
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.subtitle {
    text-align: center;
    font-size: 1.5rem; /* Adjust the font size as per your preference */
}
@media (min-width: 768px) {
    /* Adjust font size for screens with a width of 768px or larger */
    .subtitle {
        font-size: 1rem;
    }
}

.black-line {
    border: none;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

.footer {
    /* background-color: aliceblue; */
    /* color: white; */
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer .row {
    width: 100%;
    max-width: 100%;
}

.footer .social-links {
    margin-top: 10px;
}

.footer .social-links a {
    margin-right: 10px;
}


