/* Styling for Navbar */
body {
    display: block;
    overflow-x: hidden;
    min-width: 300px;
    height: 100%;
    font-family: Oswald, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
}

nav ul li a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #683aa4;
}

/* Styling for Hero Section */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 450;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
}

.hero {
    margin-top: 5em;
}

.hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#social-icon-li,
#social-icon-in,
#social-icon-tw {
    width: 5%;
}

.hero img {
    max-width: 100%;
    width: 100%;
}

/* Styling for the cards */
.hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}

.hero .cards .card {
    width: 18rem;
}

/* Styling for Icons if added */
.hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

/* Styling for the Project Section */
#projects .projects {
    margin-bottom: 50px;
}

/* contact section styling */
#contact {
    text-align: center;
    background-color: #683aa4;
    color: white;
}

#contact h1 {
    text-align: center;
    color: white;
}

.prof-pic {
    border-radius: 25%;
    /*width: 50%;*/
    /*height: auto;*/
}

.fig-cap {
    text-align: center;
}

.contact__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 4rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

@media only screen and (max-width: 37.5em) {
    .contact__form-container {
        padding: 3rem;
    }
}

.contact__form-field {
    margin-bottom: 4rem;
}

@media only screen and (max-width: 37.5em) {
    .contact__form-field {
        margin-bottom: 3rem;
    }
}

.contact__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    /* Code for Modern Browsers */
    /* Code for WebKit, Blink, Edge */
    /* Code for Internet Explorer 10-11 */
    /* Code for Microsoft Edge */
    /* Code for Mozilla Firefox 4 to 18 */
    /* Code for Mozilla Firefox 19+ */
}

.contact__form-input::placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input::-webkit-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input:-ms-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input::-ms-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input:-moz-placeholder {
    opacity: 1;
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__form-input::-moz-placeholder {
    opacity: 1;
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
}

.contact__btn {
    width: 30%;
    padding: 2rem;
    font-size: 1.6rem;
}

.contact__text {
    text-align: left;
}

@media only screen and (max-width: 37.5em) {
    .contact__btn {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .big {
        font-size: 1em !important;
    }
}

.big {
    font-size: calc(0.3em + 1.5vw);
}

.bigger li,
.heading {
    font-size: 1.3em;
}

.heading {
    text-align: center;
    font-weight: bold;
}
#lab-pic {
    max-width: 100%;
    overflow-x: hidden;
    height: 800px;
    padding-right: 100px;
}
.grid {width: 100vw;}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}